.home {
    background-image: url("../../assets/background.png");
    width: 100%;
    height: 100vh;
}

.car-list-home {
    position: absolute;
    overflow-y: auto;
    bottom: 55px;
    height: 400px;
    width: 100%;
}